/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #c5c5c5;
  background: -moz-radial-gradient(center, circle cover, white 25%, #c5c5c5 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%, white), color-stop(100%, #c5c5c5));
  background: -webkit-radial-gradient(center, circle cover, white 25%, #c5c5c5 100%);
  background: -o-radial-gradient(center, circle cover, white 25%, #c5c5c5 100%);
  background: -ms-radial-gradient(center, circle cover, white 25%, #c5c5c5 100%);
  background: radial-gradient(center, circle cover, white 25%, #c5c5c5 100%);
  background-color: #fff; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #10d3ff;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #10d3ff;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #00758f;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #00b4dc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #003643; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #00758f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #00758f; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #00758f; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }

a {
  cursor: pointer; }

.reveal section img {
  background: none;
  box-shadow: none;
  border: 0; }

.reveal section iframe {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25); }

.reveal blockquote {
  width: auto; }

.reveal pre {
  font-size: 0.4em; }

.mu-margin {
  margin-bottom: 20px; }

.reveal section .no-margin {
  margin: 0; }

hr, .mu-divider {
  background: linear-gradient(to right, rgba(147, 150, 153, 0.15), #939699, rgba(147, 150, 153, 0.15));
  height: 1px;
  border: none; }

h2::after {
  content: "";
  display: block;
  background: linear-gradient(to right, rgba(147, 150, 153, 0.15), #939699, rgba(147, 150, 153, 0.15));
  height: 1px;
  border: none; }

section > h2 > img {
  height: 1em;
  margin: 0 !important;
  vertical-align: middle; }

.mu-left {
  text-align: left; }

.mu-small {
  font-size: 0.6em;
  line-height: 1.1; }

.mu-medium {
  font-size: 0.8em;
  line-height: 1.1; }

.mu-normal {
  text-transform: none !important;
  font-style: normal !important;
  font-weight: inherit !important; }

.mu-muted {
  opacity: 0.5; }

.mu-grayscale {
  filter: grayscale(100%) opacity(50%); }

.reveal .block {
  display: block; }

.inline-block {
  display: inline-block; }

.reveal ul, .reveal ol {
  display: block;
  margin-left: 2em; }
  .reveal ul.plain, .reveal ol.plain {
    margin-left: 0; }
    .reveal ul.plain li, .reveal ol.plain li {
      list-style: none; }
  .reveal ul li.mu-divider, .reveal ol li.mu-divider {
    list-style: none;
    margin: 20px 0; }

.mu-flex {
  display: flex; }
  .mu-flex.mu-flex-left {
    justify-content: flex-start; }
  .mu-flex.mu-flex-right {
    justify-content: flex-end; }
  .mu-flex.mu-flex-between {
    justify-content: space-between; }
  .mu-flex.mu-flex-around {
    justify-content: space-between; }
  .mu-flex.mu-flex-center {
    justify-content: center; }
  .mu-flex.mu-flex-stretch {
    align-items: stretch; }
  .mu-flex.mu-flex-top {
    align-items: flex-start; }
  .mu-flex.mu-flex-bottom {
    align-items: flex-end; }
  .mu-flex.mu-flex-middle {
    align-items: center; }
  .mu-flex.mu-gutter {
    margin-left: 20px;
    margin-right: 20px; }
    .mu-flex.mu-gutter > * {
      margin: 0 20px; }
  .mu-flex .col-1-1 {
    width: 100%; }
  .mu-flex .col-1-2 {
    width: 50%; }
  .mu-flex .col-1-3 {
    width: 33.3333333333%; }
  .mu-flex .col-2-3 {
    width: 66.6666666667%; }
  .mu-flex .col-1-4 {
    width: 25%; }
  .mu-flex .col-3-4 {
    width: 75%; }
  .mu-flex .mu-flex-connector {
    border-top: 4px dashed #939699;
    height: 0;
    margin: 0 8px;
    flex: 1 1 0%;
    position: relative;
    font-size: 0.5em;
    line-height: 2;
    color: #797d80; }
    .mu-flex .mu-flex-connector.arrow::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #939699;
      position: absolute;
      top: 0;
      right: -4px;
      transform: translateY(-12px); }

.mu-ratio {
  position: relative; }
  .mu-ratio::before {
    content: "";
    display: block;
    width: 100%; }
  .mu-ratio > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100%;
    height: 100%; }

.mu-ratio-1-1::before {
  padding-top: 100%; }

.mu-ratio-3-2::before {
  padding-top: 66.66%; }

.mu-ratio-4-3::before {
  padding-top: 75%; }

.mu-ratio-16-9::before {
  padding-top: 56.25%; }

.mu-ratio-2-1::before {
  padding-top: 50%; }

.fragment-set {
  position: relative; }
  .fragment-set > .fragment {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    .fragment-set > .fragment.visible:not(.current-fragment):not(:last-child) {
      opacity: 0 !important; }
    .fragment-set > .fragment.current-fragment[data-fragment-index="0"] {
      opacity: 1 !important;
      visibility: inherit !important; }

.mu-svc {
  text-align: center;
  font-size: 0.5em;
  line-height: 1em; }
  .mu-svc img {
    display: block;
    height: 50px;
    margin: 0 auto !important; }
  .mu-svc + .mu-flex-connector {
    margin-top: -2%; }

.mu-ateam-water {
  position: fixed;
  display: block;
  top: 20px;
  right: 20px; }
  .mu-ateam-water img {
    height: 60px;
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.5));
    opacity: 0.4; }

table.agenda {
  font-size: 0.5em; }
  table.agenda td {
    white-space: nowrap; }
