<table class="mu-smaller">
  <thead>
    <tr>
      <th>Provider</th>
      <th>Reference</th>
      <th>Services</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="no-wrap">AWS</td>
      <td><a href="https://eksworkshop.com/" target="_blank">EKS Workshop</a></td>
      <td class="mu-muted">EKS, K8s, Helm, Istio, Grafana ... </td>
    </tr>
    <tr>
      <td class="no-wrap">Google Cloud</td>
      <td><a href="https://github.com/GoogleCloudPlatform/microservices-demo" target="_blank">Hipster Shop</a></td>
      <td class="mu-muted">GKE, K8s, Helm ...</td>
    </tr>
    <tr>
      <td class="no-wrap">Azure</td>
      <td><a href="https://github.com/microsoft/SmartHotel360" target="_blank">SmartHotel360</a></td>
      <td class="mu-muted">AKS, K8s, Helm ...</td>
    </tr>
    <tr>
      <td class="no-wrap">Weave Works</td>
      <td><a href="https://github.com/microservices-demo/microservices-demo" target="_blank">Sock Shop</a></td>
      <td class="mu-muted">Weave Net, Docker, K8s ...</td>
    </tr>
    <tr>
      <td class="no-wrap">Pivotal</td>
      <td><a href="https://kb.vmtestdrive.com/hc/en-us/articles/360001143454-Pivotal-Container-Service-Deep-dive" target="_blank">Guest Book</a></td>
      <td class="mu-muted">PKs ...</td>
    </tr>
    <tr>
      <td class="no-wrap">IBM</td>
      <td><a href="https://github.com/ibm-cloud-architecture/refarch-cloudnative-kubernetes" target="_blank">BlueCompute</a></td>
      <td class="mu-muted">IBM Cloud Cluster, K8s, Helm ...</td>
    </tr>
    <tr class="fragment">
      <td class="fg-red no-wrap"><strong>Oracle<strong></td>
      <td><a class="fg-red" href="https://github.com/oracle-quickstart/oci-cloudnative" target="_blank">MuShop</a></td>
      <td>OKE, K8s, Helm, Istio, WAF, ATP, OSB, OOS, OSS ...</td>
    </tr>
  </tbody>
</table>