<section id="goals">
  <h2>Goals</h2>
  <div class="">
  <div class="mu-flex mu-wrap mu-flex-stretch mu-gutter mu-small mu-left" style="margin-bottom: 125px;">
    <div class="card col-1-2 fragment">
      Test bed for OCI Service incubation
      <div class="mu-blurb">
        <ul class="mu-medium">
          <li>Assemble a comprehensive use case</li>
          <li>Validate end-user experience</li>
          <li>Closed loop feedback with product</li>
        </ul>
      </div>
    </div>
    <div class="card col-1-2 fragment">
      Training tool on OCI Services
      <div class="mu-blurb">
        <ul class="mu-medium">
          <li><b>Strategic:</b> hand-delivered; workshop can be customized</li>
          <li><b>Field:</b> Sales/Pre-Sales, Consulting, and Customer enablement</li>
          <li><b>Public:</b> Customers and Oracle developer community</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mu-flex mu-wrap mu-flex-stretch mu-gutter mu-small mu-left">
    <div class="card col-1-2 fragment">
      Launchpad for time-to-market reference materials
      <div class="mu-blurb">
        <ul class="mu-medium">
          <li>
            MuShop can be quickly adapted to reflect changes in the platform,
            or showcase strategic OCI feature releases
          </li>
          <li>Establish familiar and easily deployable applications/example suite to get started</li>
        </ul>
      </div>
    </div>
    <div class="card col-1-2 fragment">
      <!-- Present OCI as a viable option for Cloud Native workloads -->
      Showcase Cloud Native workloads on OCI
      <div class="mu-blurb">
        <ul class="mu-medium">
          <li>Position Oracle within the <strong>enterprise</strong> cloud market</li>
          <li>Modernized approach to enterprise application development</li>
          <li>Choose <span class="fg-red">Oracle</span> <span class="mu-muted">over</span> AWS, Google, Azure, IBM</li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>