/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
@import "../template/custom/all";
// ---------------------------------------------


// Include theme-specific fonts
// @import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../lib/font/oracle-sans/oracle-sans.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: $o-color-light;

$mainColor: $o-color-text;
$headingColor: $o-color-browner;

$mainFontSize: 40px;
$mainFont: "Oracle Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
$headingFont: $mainFont;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 500;
$linkColor: $o-color-blue;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $o-color-orange, 25% );

$heading1Size: 2.2em;
$heading2Size: 1.5em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// ratios
$ratio-1-1:                                     100%;
$ratio-4-3:                                     75%;
$ratio-3-2:                                     66.66%;
$ratio-16-9:                                    56.25%;
$ratio-2-1:                                     50%;
$ratio-5-2:                                     40%;
$ratio-3-1:                                    	33.33%;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $backgroundColor;
	}
}

// Background generator
@mixin bodyBackground() {
	@include radial-gradient($o-color-light, $o-color-white, 25% );
}

@mixin divider($gradient: linear-gradient(to right, $o-color-light-alpha, rgba($o-color-brown, 0.5), $o-color-light-alpha)) {
	background: $gradient;
	height: 1px;
	border: none;
}

@mixin shadow() {
	box-shadow: 0 0 10px rgba($o-color-dark, 0.25);
}

@mixin emphasis() {
	box-shadow: 0 0 10px rgba($o-color-dark, 0.5);
}

@mixin muted() {
	opacity: 0.35;
}

@mixin fg($color: $o-color-red) {
	color: $color;
}

@mixin bg($color: $o-color-red) {
	background-color: $color;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Copier
pre {
  $copier-color: $o-color-white;
  
  .copier {
    text-decoration: none !important;
    border: none !important;
    width: auto !important;
    height: auto !important;
    display: none;
    position: absolute;
    top: $copier-stroke; right: $copier-stroke;
    bottom: auto; left: auto;
    padding: 3 * $copier-stroke;
    cursor: pointer;
    span {
      box-sizing: border-box;
      display: block;
      width: $copier-size;
      height: $copier-size;
      border: $copier-stroke solid $o-color-light;
      + span {
        position: absolute;
        top: $copier-stroke;
        right: $copier-stroke;
        border-bottom: none;
        border-left: none;
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &:hover .copier {
    display: block;
  }
}

// Overrides
a {
	cursor: pointer;
}

.reveal {
  font-weight: 200;
	section img {
		background: none;
		box-shadow: none;
		border: 0;
		&.shadow {			
			@include shadow();
		}
	}
	section iframe {
		@include shadow();
	}
	blockquote {
		width: auto;
		background: $o-color-light-alpha;
		font-style: normal;
		padding: $blockMargin / 2;
	}
	pre {
		font-size: 0.4em;
		margin: 0 auto $blockMargin;
		box-shadow: none;
		box-sizing: border-box;
		code {
			box-sizing: border-box;
		}
	}
	label {
		font-weight: bold;
  }
  table {
    th, td {
      border-bottom-color: rgba($o-color-brown, 0.5);
    }
  }
}

// Margin
.mu-margin {
	margin-bottom: $blockMargin;
}
.mu-margin-top {
	margin-top: $blockMargin;
}
.mu-margin-small {
  margin-bottom: $blockMargin / 4;
}
.mu-margin-small-top {
	margin-top: $blockMargin / 4;
}

.no-margin {
	.reveal section & {
		margin: 0;
	}
}

hr, .mu-divider {
	@include divider();
}

// headings
h2::after {
	content: "";
	display: block;
	@include divider();
}
section > h2 > img {
	height: 1em;
	margin: 0 !important;
	vertical-align: middle;
}

// Text
.mu-left {
	text-align: left !important;
}
.mu-center {
	text-align: center !important;
}
.mu-small {
	font-size: 0.6em;
	line-height: 1.1;
	pre {
		font-size: 0.65em;
	}
}
.mu-medium {
	font-size: 0.8em;
	line-height: 1.25;
	pre {
		font-size: 0.55em;
	}
}
.mu-smaller {
	font-size: 0.5em !important;
	line-height: 1;
}
.mu-xsmall {
	font-size: 0.3em !important;
	line-height: 1;
}
.mu-large {
	font-size: 2em;
}
.mu-normal {
	text-transform: none !important;
	font-style: normal !important;
	font-weight: inherit !important;
}
.bg-black {
	@include bg($o-color-black);
}
.mu-danger, .fg-red {
	@include fg($o-color-red);
}
.mu-warning, .fg-orange {
	@include fg($o-color-orange);
}
.mu-muted {
	@include muted();
}
.mu-grayscale {
	filter: grayscale(100%) opacity(50%);
}

// Basic
.block {
	.reveal & {
		display: block;
	}
}
.inline-block {
	display: inline-block;
}

.position-relative {
	position: relative;
	.hover-show {
		display: none;
	}
	&:hover .hover-show {
		display: block;
	}
}

.hidden {
	visibility: hidden;
}

.underline {
	text-decoration: underline;
}

.mu-hook {
	.mu-hooks-hide & {
		visibility: hidden;
	}
	.mu-hooks-dim & {
		@include muted();
	}
}

.reveal ul, .reveal ol {
	display: block;
	margin-left: 2em;
	&.plain {
		margin-left: 0;
		li {
			list-style: none;
		}
	}
	&.justified {
		margin-left: 1em;
	}
	&.mu-steps {
		line-height: 1.5;
	}

	li.mu-divider {
		list-style: none;
		margin: $blockMargin 0;
	}
}

.no-wrap {
	white-space: nowrap;
}

// Print
a.title-print {
	.position-relative & {
		position: absolute;
		top: 0;
		right: 0;
	}
}

// Sequence
.mu-sequence {
	text-align: left;
	width: 90%;
	margin: 0 auto;
	pre {
		width: 100%!important;
	}
}


// width elements
.col-1-1 {
	width: percentage(1);
}
.col-1-2 {
	width: percentage(1/2);
}
.col-1-3 {
	width: percentage(1/3);
}
.col-2-3 {
	width: percentage(2/3);
}
.col-1-4 {
	width: percentage(1/4);
}
.col-3-4 {
	width: percentage(3/4);
}
.col-1-5 {
	width: percentage(1/5);
}
.col-2-5 {
	width: percentage(2/5);
}
.col-3-5 {
	width: percentage(3/5);
}
.col-4-5 {
	width: percentage(4/5);
}

// FLEX

.mu-flex {
	display: flex !important;
	// wrap
	&.mu-wrap {
		flex-wrap: wrap;
	}
	// horizontal
	&.mu-flex-left {
		justify-content: flex-start;
	}
	&.mu-flex-right {
		justify-content: flex-end;
	}
	&.mu-flex-between {
		justify-content: space-between;
	}
	&.mu-flex-around {
		justify-content: space-between;
	}
	&.mu-flex-center {
		justify-content: center;
  }
  &.mu-flex-rtl {
    flex-direction: row-reverse;
  }
	// vertical
	&.mu-flex-stretch {
		align-items: stretch;
	}
	&.mu-flex-top {
		align-items: flex-start;
	}
	&.mu-flex-bottom {
		align-items: flex-end;
	}
	&.mu-flex-middle {
		align-items: center;
	}

	> .mu-valign {
		align-self: center;
	}
	.no-shrink {
		flex-shrink: 0;
	}

	// gutter
	&.mu-gutter {
		margin-left: -$blockMargin !important;
		margin-bottom: -$blockMargin !important;
		> * {
			margin-left: $blockMargin;
			margin-bottom: $blockMargin;
			&.col-1-1 {
				width: calc(#{percentage(1)} - #{$blockMargin});
			}
			&.col-1-2 {
				width: calc(#{percentage(1/2)} - #{$blockMargin});
			}
			&.col-1-3 {
				width: calc(#{percentage(1/3)} - #{$blockMargin});
			}
			&.col-2-3 {
				width: calc(#{percentage(2/3)} - #{$blockMargin});
			}
			&.col-1-4 {
				width: calc(#{percentage(1/4)} - #{$blockMargin});
			}
			&.col-3-4 {
				width: calc(#{percentage(3/4)} - #{$blockMargin});
			}
			&.col-1-5 {
				width: calc(#{percentage(1/5)} - #{$blockMargin});
			}
			&.col-2-5 {
				width: calc(#{percentage(2/5)} - #{$blockMargin});
			}
			&.col-3-5 {
				width: calc(#{percentage(3/5)} - #{$blockMargin});
			}
			&.col-4-5 {
				width: calc(#{percentage(4/5)} - #{$blockMargin});
			}
		}
	}

	[class*="col-"] {
		img, video {
			max-height: none;
			max-width: 100%;
		}
		table {
			margin: 0;
		}
	}

	// cards
	.card {
		@include shadow();
		@include bg($o-color-white);
		border: 1px solid $o-color-light-alpha !important;
		border-radius: 5px;
		box-sizing: border-box;
		padding: $blockMargin;
		margin-bottom: $blockMargin;
		list-style: none;
		position: relative;
	}
	a.card {
		.mu-normal {
			@include fg($mainColor !important);
		}
		&:hover {
			@include emphasis();
			img { 
        background: none;
				box-shadow: none;
			}
		}
	}

	$connectorSize: 4px;
	$connectorArrowSize: 10px;
	$connectorColor: $o-color-grey;
	.mu-flex-connector {
		border-top: $connectorSize dashed $connectorColor;
		height: 0;
		margin: 0 (2 * $connectorSize);
		flex: 1 1 0%;
		position: relative;
		font-size: 0.5em;
		min-width: 3em;
		line-height: 2;
		color: darken($connectorColor, 10%);
		&.arrow::after {
			content: "";
			display: block;
			width: 0; 
			height: 0; 
			border-top: $connectorArrowSize solid transparent;
			border-bottom: $connectorArrowSize solid transparent;
			border-left: $connectorArrowSize solid $connectorColor;
			position: absolute;
			top: 0;
			right: -$connectorSize;
			transform: translateY(-($connectorArrowSize + $connectorSize / 2));
		}
		&.arrow-left::before {
			content: "";
			display: block;
			width: 0; 
			height: 0; 
			border-top: $connectorArrowSize solid transparent;
			border-bottom: $connectorArrowSize solid transparent;
			border-right: $connectorArrowSize solid $connectorColor;
			position: absolute;
			top: 0;
			left: -$connectorSize;
			transform: translateY(-($connectorArrowSize + $connectorSize / 2));
		}
	}

	> label {
		width: 130px;
	}
}


// Overflow
.mu-overflow {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	> img {
		max-height: none !important;
		margin: 0 !important;
	}
}

// Overlay
.overlay-content {
	display: none;
	.overlay & {
		display: block;
	}
}

.mu-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	@include shadow();
	background: $o-color-white;
	img, video {
		max-width: 100%;
		max-height: none;
	}
}

// Blurbs
.mu-blurb {
	$connect-color: $o-color-red;
	$connect-size: 60px;
  $dot-size: 10px;
  $line-size: 2px;

	position: absolute;
	left: $dot-size;
	top: 90%;
	padding-top: $connect-size;
	padding-left: $dot-size;
	text-align: left;
  border-left: $line-size solid $connect-color;
  box-sizing: border-box;
  font-size: 0.8em;
  
  &::after {
		content: "";
    display: block;
    position: absolute;
    background: $connect-color;
    height: $line-size;
    width: $dot-size - 2;
    bottom: 0; left: -1px;
  }

	&::before {
		content: "";
		display: block;
		background: $connect-color;
		height: $dot-size;
		width: $dot-size;
		@include _crossbrowser(border-radius, $dot-size);
		position: absolute;
		top: 0; left: -(($dot-size + $line-size) / 2);
	}

	.mu-blurb-invert & {
		top: auto;
		bottom: 90%;
		padding-top: 0;
		padding-bottom: $connect-size;
		&::before {
			top: auto;
			bottom: 0;
    }
    &::after {
			top: 0;
			bottom: auto;
    }
	}

	.no-blurb & {
		display: none !important;
	}
}

// zoom
.mu-zoom {
  @include transition();
  &:hover {
    @include emphasis();
    @include transform(scale(1.5));
    z-index: 10;
  }
}

// Switcher
.switcher {
	$switch-opacity: 0.5;

	display: flex;
	align-items: stretch;
	> ul {
		margin-left: 0;
		> li {
			list-style: none;
			@include transition();
		}
		// controls
		&:first-child {
			> li {
				padding: $blockMargin/2 $blockMargin $blockMargin/2 0;
				border-right: 5px solid $o-color-light-grey;
				opacity: $switch-opacity;
				cursor: pointer;
				white-space: nowrap;
				&.fragment {
					opacity: $switch-opacity;
					visibility: visible;
					&.visible {
						opacity: $switch-opacity;
					}
				}
				&.active, &:hover {
					border-right-color: $o-color-orange;
					opacity: 1 !important;
				}
			}
		}
		// content
		&:last-child {
			width: percentage(1); // flex
			position: relative;
			> li {
				visibility: hidden;
				padding-left: $blockMargin;
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
				opacity: 0;
				@include transform(translateX($blockMargin));
				&.active {
					visibility: visible;
					opacity: 1;
					@include transform(none);
				}
			}

			pre {
				width: auto;
				margin-left: 0;
				&:last-child {
					margin-bottom: 5px;
				}
			}
		}
	}
}

// Aspect
.mu-ratio {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
  }

  & > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100%;
    height: 100%;
  }
}


.mu-ratio-1-1::before {
  padding-top: $ratio-1-1;
}

.mu-ratio-3-2::before {
  padding-top: $ratio-3-2;
}

.mu-ratio-4-3::before {
  padding-top: $ratio-4-3;
}

.mu-ratio-16-9::before {
  padding-top: $ratio-16-9;
}

.mu-ratio-2-1::before {
  padding-top: $ratio-2-1;
}

.mu-ratio-5-2::before {
  padding-top: $ratio-5-2;
}

.mu-ratio-3-1::before {
  padding-top: $ratio-3-1;
}

// Fragment

.fragment-set {
	position: relative;
	> .fragment {
		position: absolute;
		top: 0;
    left: 0;
		right: 0;
		&.visible:not(.current-fragment):not(:last-child) {
			opacity:0!important;
		}
		&.current-fragment[data-fragment-index="0"] {
			opacity: 1!important;
			visibility: inherit!important;
		}
	}
}

// icon
.mu-icon {
	display: inline-block;
}

// services
.mu-svc {
	text-align: center;
	font-size: 0.5em;
	line-height: 1em;
	img, .mu-svc-icon {
		display: block;
		height: 50px;
    margin: 0 auto !important;
		font-size: 2.5em;
		line-height: 1;
	}
	+ .mu-flex-connector {
		margin-top: -2%;
	}
}

// watermark
.mu-ateam-water {
	position: fixed;
	display: block;
	top: $blockMargin;
	right: $blockMargin;
	img {
		height: 60px;
		filter: drop-shadow(5px 5px 30px rgba(0,0,0,0.5));
		opacity: 0.4;
	}
	// hide on teaser
	[data-slide="teaser"] & {
		visibility: hidden;
	}
	
}

// build
.mu-build {
	position: fixed;
	bottom: 10px;
	left: 10px;
	font-family: $mainFont;
	text-transform: uppercase;
	font-size: 0.8em;
	span {
		display: inline-block;
    font-weight: bold;
    width: 4rem;
	}
}
// play button

$playSize: 	$heading2Size;
$playTriangle: 1em * 2/3;

.play-button {
	height: $playSize;
	width: $playSize;
	line-height: $playSize;
	margin: 0 auto;
	box-sizing: border-box;
	background: $o-color-black;
	border: 2px solid $o-color-white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	position: relative;

	$playTriangleBorder: 1em / 2;
	label {
		position: absolute;
		left: 33%; top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		border: 0;
		height: 0;
		width: 0;
		display: block;
		border-style: solid;
		border-width: 0.4em 0 0.4em 0.7em;
		border-color: transparent transparent transparent $o-color-white;
	}
}

// agenda
table.mu-table {
	font-size: 0.5em;
	td {
		white-space: nowrap;
	}
}

.testimonials {
	text-align: left;
	border-left: 5px solid $o-color-orange;
	padding-left: 1em;
	blockquote {
		display: block;
		margin: 0 0 $blockMargin auto;
		box-shadow: none;
		max-width: 70%;
		font-size: 0.9em;
		background: none;
		&:nth-child(even) {
			margin: 0 auto $blockMargin 0;
		}
		&:after {
			// background: linear-gradient(to right, $o-color-grey-alpha, $o-color-grey, $o-color-grey-alpha);
			content: '';
			display: block;
			margin-top: 2px;
			@include divider(linear-gradient(to right, $o-color-grey-alpha, rgba($o-color-orange, 0.2)));
		}
		q {
			quotes: "“" "”" "‘" "’";
			&:before {
				content: open-quote;
				font-size: 1.5em;
				opacity: 0.5;
			}
			&:after {
				content: close-quote;
				font-size: 1.5em;
				opacity: 0.5;
			}
		}
		span {
			display: block;
			text-align: right;
		}
	}
}

// OUI styles

.oui-button {
	margin: 0;
	border: none;
	border-radius: 0;
	overflow: visible;
	font: inherit;
	color: inherit;
	text-transform: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 10px;
	vertical-align: middle;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	text-decoration: none;

	&.oui-button-primary {
		background-color: #0572ce;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
	}
	&.oui-button-default {
		background-color: #f5f5f5;
    color: #222;
    border: 1px solid #b5bbc2;
    border-radius: 3px;
	}
}
a.oui-button:hover {
	border: 1px solid transparent;
	&.oui-button-primary {
    color: #fff;
	}
	&.oui-button-default {
    color: #222;
		border-color: #b5bbc2;
	}
}