/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #00758f;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$o-color-slate: #8aadbf;
$o-color-dark-slate: #324b5c;
$o-color-grey: #939699;
$o-color-light-grey: #dee0e0;
$o-color-dark-grey: #4e5052;
$o-color-text: #333;

$o-color-red: #F80000;
$o-color-burgundy: #942645;
$o-color-green: #3a913f;
$o-color-orange: #f29111;
$o-color-blue: #00758f;

$o-color-white: #FFFFFF;
$o-color-black: #000000;
$o-color-light: #FFFFFF;
$o-color-field: #efefef;
$o-color-tint: $o-color-light-grey;
$o-color-dark: $o-color-dark-grey;
$o-color-darkish: lighten($o-color-dark, 10%);
$o-color-darker: darken($o-color-dark, 10%);
$o-color-grey-alpha: rgba($o-color-grey, 0.15);
$o-color-light-alpha: rgba($o-color-light-grey, 0.15);

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $backgroundColor;
	}
}

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgb(197, 197, 197), rgba(255,255,255,1) );
	// background-image: url(../../../images/ateam.png);
	// background-repeat: no-repeat;
	// background-position: 100% 100%;
}

@mixin divider() {
	background: linear-gradient(to right, $o-color-grey-alpha, $o-color-grey, $o-color-grey-alpha);
	height: 1px;
	border: none;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Overrides
a {
	cursor: pointer;
}

.reveal section img {
	background: none;
	box-shadow: none;
	border: 0;
}

.reveal blockquote {
	width: auto;
}

// Margin
.mu-margin {
	margin-bottom: 15px;
}

.no-margin {
	.reveal section & {
		margin: 0;
	}
}

hr {
	@include divider();
}

h1::after, h2::after {
	content: "";
	display: block;
	@include divider();
}

// Text
.mu-left {
	text-align: left;
}
.mu-small {
	font-size: 0.6em;
	line-height: 1.1;
}

// Basic
.inline-block {
	display: inline-block;
}
.mu-muted {
	opacity: 0.5;
}

ul.plain {
	margin-left: 0;
	li {
		list-style: none;
	}
}

// FLEX

.mu-flex {
	display: flex;
	// horizontal
	&.mu-flex-left {
		justify-content: flex-start;
	}
	&.mu-flex-right {
		justify-content: flex-end;
	}
	&.mu-flex-between {
		justify-content: space-between;
	}
	&.mu-flex-around {
		justify-content: space-between;
	}
	&.mu-flex-center {
		justify-content: center;
	}
	// vertical
	&.mu-flex-stretch {
		align-items: stretch;
	}
	&.mu-flex-top {
		align-items: flex-start;
	}
	&.mu-flex-bottom {
		align-items: flex-end;
	}
	&.mu-flex-middle {
		align-items: center;
	}

	// gutter
	&.mu-gutter {
		margin: 0  $blockMargin;
		> * {
			margin: 0 $blockMargin;
		}
	}

	// elements
	.col-1-1 {
		width: percentage(1);
	}
	.col-1-2 {
		width: percentage(1/2);
	}
	.col-1-3 {
		width: percentage(1/3);
	}
	.col-2-3 {
		width: percentage(2/3);
	}
	.col-1-4 {
		width: percentage(1/4);
	}
	.col-3-4 {
		width: percentage(3/4);
	}


	$connectorSize: 4px;
	$connectorArrowSize: 10px;
	$connectorColor: $o-color-grey;
	.mu-flex-connector {
		border-top: $connectorSize dashed $connectorColor;
		height: 0;
		margin: 0 (2 * $connectorSize);
		flex: 1 1 0%;
		position: relative;
		font-size: 0.5em;
		line-height: 2;
		color: darken($connectorColor, 10%);
		&.arrow::after {
			content: "";
			display: block;
			width: 0; 
			height: 0; 
			border-top: $connectorArrowSize solid transparent;
			border-bottom: $connectorArrowSize solid transparent;
			border-left: $connectorArrowSize solid $connectorColor;
			position: absolute;
			top: 0;
			right: -$connectorSize;
			transform: translateY(-($connectorArrowSize + $connectorSize / 2));
		}
	}
}

// Fragment

.fragment-set {
	position: relative;
	.fragment {
		position: absolute;
		top: 0;
    left: 0;
		right: 0;
		&.visible:not(.current-fragment) {
			opacity:0!important;
		}
		&.current-fragment[data-fragment-index="0"] {
			opacity: 1!important;
			visibility: inherit!important;
		}
	}
}

// services
.mu-svc {
	text-align: center;
	font-size: 0.5em;
	line-height: 1em;
	img {
		display: block;
		height: 50px;
	}
	+ .mu-flex-connector {
		margin-top: -2%;
	}
}

// watermark

.mu-ateam-water {
	position: fixed;
	display: block;
	top: $blockMargin;
	right: $blockMargin;
	img {
		height: 60px;
		filter: drop-shadow(5px 5px 30px rgba(0,0,0,0.5));
		opacity: 0.4;
	}
}