/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #00758f;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$o-color-slate: #8aadbf;
$o-color-dark-slate: #324b5c;
$o-color-grey: #939699;
$o-color-light-grey: #dee0e0;
$o-color-dark-grey: #4e5052;
$o-color-text: #333;

$o-color-red: #F80000;
$o-color-burgundy: #942645;
$o-color-green: #3a913f;
$o-color-orange: #f29111;
$o-color-blue: #00758f;

$o-color-white: #FFFFFF;
$o-color-black: #000000;
$o-color-light: #FFFFFF;
$o-color-field: #efefef;
$o-color-tint: $o-color-light-grey;
$o-color-dark: $o-color-dark-grey;
$o-color-darkish: lighten($o-color-dark, 10%);
$o-color-darker: darken($o-color-dark, 10%);
$o-color-grey-alpha: rgba($o-color-grey, 0.15);
$o-color-light-alpha: rgba($o-color-light-grey, 0.15);

// ratios
$ratio-1-1:                                     100%;
$ratio-3-2:                                     66.66%;
$ratio-4-3:                                     75%;
$ratio-16-9:                                    56.25%;
$ratio-2-1:                                     50%;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $backgroundColor;
	}
}

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgb(197, 197, 197), rgba(255,255,255,1), 25% );
}

@mixin divider($gradient: linear-gradient(to right, $o-color-grey-alpha, $o-color-grey, $o-color-grey-alpha)) {
	background: $gradient;
	height: 1px;
	border: none;
}

@mixin shadow() {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Copier
pre {
	a.copier {
		display: none;
		cursor: pointer;
		position: absolute;
		bottom: 100%;
		right: 0;
		font-size: 14px;
		padding: 5px 10px;
    background: #272822;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	}
	&:hover {
		a.copier {
			display: block;
		}
	}
}

// Overrides
a {
	cursor: pointer;
}

.reveal {
	section img {
		background: none;
		box-shadow: none;
		border: 0;
		&.shadow {			
			@include shadow();
		}
	}
	section iframe {
		@include shadow();
	}
	blockquote {
		width: auto;
	}
	pre {
		font-size: 0.4em;
	}
}

// Margin
.mu-margin {
	margin-bottom: $blockMargin;
}

.no-margin {
	.reveal section & {
		margin: 0;
	}
}

hr, .mu-divider {
	@include divider();
}

// headings
h2::after {
	content: "";
	display: block;
	@include divider();
}
section > h2 > img {
	height: 1em;
	margin: 0 !important;
	vertical-align: middle;
}

// Text
.mu-left {
	text-align: left;
}
.mu-center {
	text-align: center !important;
}
.mu-small {
	font-size: 0.6em;
	line-height: 1.1;
}
.mu-xsmall {
	font-size: 0.3em !important;
	line-height: 1;
}
.mu-medium {
	font-size: 0.8em;
	line-height: 1.1;
}
.mu-large {
	font-size: 2em;
}
.mu-normal {
	text-transform: none !important;
	font-style: normal !important;
	font-weight: inherit !important;
}

.mu-danger {
	color: $o-color-red;
}
.mu-warning {
	color: $o-color-orange;
}
.mu-muted {
	opacity: 0.5;
}
.no-wrap {
	white-space: nowrap;
}

.mu-grayscale {
	filter: grayscale(100%) opacity(50%);
}

// Basic
.block {
	.reveal & {
		display: block;
	}
}
.inline-block {
	display: inline-block;
}

.position-relative {
	position: relative;
	.hover-show {
		display: none;
	}
	&:hover .hover-show {
		display: block;
	}
}

.reveal ul, .reveal ol {
	display: block;
	margin-left: 2em;
	&.plain {
		margin-left: 0;
		li {
			list-style: none;
		}
	}
	&.justified {
		margin-left: 1em;
	}

	li.mu-divider {
		list-style: none;
		margin: $blockMargin 0;
	}
}

// Print
a.title-print {
	.position-relative & {
		position: absolute;
		top: 0;
		right: 0;
	}
}

// Sequence
.mu-sequence {
	text-align: left;
	width: 90%;
	margin: 0 auto;
	pre {
		width: 100%!important;
	}
}

// FLEX

.mu-flex {
	display: flex;
	// horizontal
	&.mu-flex-left {
		justify-content: flex-start;
	}
	&.mu-flex-right {
		justify-content: flex-end;
	}
	&.mu-flex-between {
		justify-content: space-between;
	}
	&.mu-flex-around {
		justify-content: space-between;
	}
	&.mu-flex-center {
		justify-content: center;
	}
	// vertical
	&.mu-flex-stretch {
		align-items: stretch;
	}
	&.mu-flex-top {
		align-items: flex-start;
	}
	&.mu-flex-bottom {
		align-items: flex-end;
	}
	&.mu-flex-middle {
		align-items: center;
	}

	// gutter
	&.mu-gutter {
		> * {
			margin-left: $blockMargin;
			&:last-child {
				margin-right: $blockMargin;
			}
		}
	}

	// elements
	.col-1-1 {
		width: percentage(1);
	}
	.col-1-2 {
		width: percentage(1/2);
	}
	.col-1-3 {
		width: percentage(1/3);
	}
	.col-2-3 {
		width: percentage(2/3);
	}
	.col-1-4 {
		width: percentage(1/4);
	}
	.col-3-4 {
		width: percentage(3/4);
	}


	$connectorSize: 4px;
	$connectorArrowSize: 10px;
	$connectorColor: $o-color-grey;
	.mu-flex-connector {
		border-top: $connectorSize dashed $connectorColor;
		height: 0;
		margin: 0 (2 * $connectorSize);
		flex: 1 1 0%;
		position: relative;
		font-size: 0.5em;
		line-height: 2;
		color: darken($connectorColor, 10%);
		&.arrow::after {
			content: "";
			display: block;
			width: 0; 
			height: 0; 
			border-top: $connectorArrowSize solid transparent;
			border-bottom: $connectorArrowSize solid transparent;
			border-left: $connectorArrowSize solid $connectorColor;
			position: absolute;
			top: 0;
			right: -$connectorSize;
			transform: translateY(-($connectorArrowSize + $connectorSize / 2));
		}
	}
}

// Overflow
.mu-overflow {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	> img {
		max-height: none !important;
		margin: 0 !important;
	}
}

// Aspect
.mu-ratio {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
  }

  & > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100%;
    height: 100%;
  }
}


.mu-ratio-1-1::before {
  padding-top: $ratio-1-1;
}

.mu-ratio-3-2::before {
  padding-top: $ratio-3-2;
}

.mu-ratio-4-3::before {
  padding-top: $ratio-4-3;
}

.mu-ratio-16-9::before {
  padding-top: $ratio-16-9;
}

.mu-ratio-2-1::before {
  padding-top: $ratio-2-1;
}

// Fragment

.fragment-set {
	position: relative;
	> .fragment {
		position: absolute;
		top: 0;
    left: 0;
		right: 0;
		&.visible:not(.current-fragment):not(:last-child) {
			opacity:0!important;
		}
		&.current-fragment[data-fragment-index="0"] {
			opacity: 1!important;
			visibility: inherit!important;
		}
	}
}

// icon
.mu-icon {
	display: inline-block;
}

// services
.mu-svc {
	text-align: center;
	font-size: 0.5em;
	line-height: 1em;
	img, .mu-svc-icon {
		display: block;
		height: 50px;
    margin: 0 auto !important;
		font-size: 2.5em;
		line-height: 1;
	}
	+ .mu-flex-connector {
		margin-top: -2%;
	}
}

// watermark

.mu-ateam-water {
	position: fixed;
	display: block;
	top: $blockMargin;
	right: $blockMargin;
	img {
		height: 60px;
		filter: drop-shadow(5px 5px 30px rgba(0,0,0,0.5));
		opacity: 0.4;
	}
	// hide on teaser
	[data-slide="teaser"] & {
		visibility: hidden;
	}
}

// play button

$playSize: 	$heading2Size;
$playTriangle: 1em * 2/3;

.play-button {
	height: $playSize;
	width: $playSize;
	line-height: $playSize;
	margin: 0 auto;
	box-sizing: border-box;
	background: $o-color-black;
	border: 2px solid $o-color-white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	position: relative;

	$playTriangleBorder: 1em / 2;
	label {
		position: absolute;
		left: 33%; top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		border: 0;
		height: 0;
		width: 0;
		display: block;
		border-style: solid;
		border-width: 0.4em 0 0.4em 0.7em;
		border-color: transparent transparent transparent $o-color-white;
	}
}

// agenda

table.mu-table {
	font-size: 0.5em;
	td {
		white-space: nowrap;
	}
}

.testimonials {
	text-align: left;
	border-left: 5px solid $o-color-orange;
	padding-left: 1em;
	blockquote {
		display: block;
		margin: 0 0 $blockMargin auto;
		box-shadow: none;
		max-width: 70%;
		font-size: 0.9em;
		&:nth-child(even) {
			margin: 0 auto $blockMargin 0;
		}
		&:after {
			// background: linear-gradient(to right, $o-color-grey-alpha, $o-color-grey, $o-color-grey-alpha);
			content: '';
			display: block;
			margin-top: 2px;
			@include divider(linear-gradient(to right, $o-color-grey-alpha, rgba($o-color-orange, 0.2)));
		}
		q {
			quotes: "“" "”" "‘" "’";
			&:before {
				content: open-quote;
				font-size: 1.5em;
				opacity: 0.5;
			}
			&:after {
				content: close-quote;
				font-size: 1.5em;
				opacity: 0.5;
			}
		}
		span {
			display: block;
			text-align: right;
		}
	}
}