/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #00758f;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $backgroundColor;
	}
}

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgb(197, 197, 197), rgba(255,255,255,1) );
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Overrides
a {
	cursor: pointer;
}

.reveal section img {
	background: none;
}

.reveal blockquote {
	width: auto;
}

// Margin
.mu-margin {
	margin-bottom: 15px;
}

.no-margin {
	.reveal section & {
		margin: 0;
	}
}

// Text
.mu-left {
	text-align: left;
}

// Basic
.inline-block {
	display: inline-block;
}
.mu-muted {
	opacity: 0.5;
}

// FLEX
.mu-flex {
	display: flex;
	// horizontal
	&.mu-flex-left {
		justify-content: flex-start;
	}
	&.mu-flex-right {
		justify-content: flex-end;
	}
	&.mu-flex-between {
		justify-content: space-between;
	}
	&.mu-flex-around {
		justify-content: space-between;
	}
	&.mu-flex-center {
		justify-content: center;
	}
	// vertical
	&.mu-flex-stretch {
		align-items: stretch;
	}
	&.mu-flex-top {
		align-items: flex-start;
	}
	&.mu-flex-bottom {
		align-items: flex-end;
	}
	&.mu-flex-middle {
		align-items: center;
	}
}

// Fragment

.fragment-set {
	position: relative;
	.fragment {
		position: absolute;
		top: 0;
    left: 0;
		right: 0;
		&.visible:not(.current-fragment) {
			opacity:0!important;
		}
	}
}