apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: mushop-slides-ingress
  namespace: mushop-slides
  annotations:
    ingress.kubernetes.io/ssl-redirect: "true"
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
    certmanager.k8s.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
  - secretName: mushop-demo-tls-secret 
    hosts:
    - slides.mushop.ateam.cloud
  rules:
  - host: slides.mushop.ateam.cloud
    http:
      paths:
      - path: /
        backend:
          serviceName: workshop
          servicePort: 80