<section id="apps">
  <h2>MuShop Services with ATP</h2>
  <p class="mu-small">
    The MuShop runtime includes the services below, which connect to Oracle
    Autonomous Transaction Processing (ATP) databases. Each uses its <b>own</b>
    schema and connection, while providing REST services over HTTP. 
  </p>
  <hr/>

  <div class="mu-flex mu-gutter mu-margin mu-flex-stretch mu-small mu-wrap">
    <!-- catalogue -->
    <div class="card col-1-2">
      Catalogue (<code>src/catalogue</code>)
      <div class="mu-flex mu-flex-middle mu-gutter">
        <div class="mu-svc no-shrink">
          <img data-src="/images/tech/go.png" style="height: 100px;"/>
        </div>
        <div class="col-1-1">
          <blockquote class="mu-smaller no-margin mu-left">
            Services for MuShop products, categories, and search
          </blockquote>
        </div>
      </div>
    </div>
    <!-- users -->
    <div class="card col-1-2">
      Users (<code>src/user</code>)
      <div class="mu-flex mu-flex-middle mu-gutter mu-margin-top">
        <div class="mu-svc no-shrink">
          <img data-src="/images/tech/ts.svg" />
        </div>
        <div class="col-1-1">
          <blockquote class="mu-smaller no-margin mu-left">
            eCommerce customer data with profile and authentication services
          </blockquote>
        </div>
      </div>
    </div>
    <!-- carts -->
    <div class="card col-1-2">
      Carts (<code>src/carts</code>)
      <div class="mu-flex mu-flex-middle mu-gutter">
        <div class="mu-svc no-shrink">
          <img data-src="/images/tech/java.png" />
        </div>
        <div class="col-1-1">
          <blockquote class="mu-smaller no-margin mu-left">
            Customer order processing services
          </blockquote>
        </div>
      </div>
    </div>
    <!-- orders -->
    <div class="card col-1-2">
      Orders (<code>src/orders</code>)
      <div class="mu-flex mu-flex-middle mu-gutter">
        <div class="mu-svc no-shrink">
          <img data-src="/images/tech/java.png" />
        </div>
        <div class="col-1-1">
          <blockquote class="mu-smaller no-margin mu-left">
            Customer order processing services
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>