<section id="DeployingOCIServiceBroker" data-background-image="/images/tech/k8s.png" data-background-size="100px"
  data-background-position="20px 20px">
  <h2>Deploy OCI Service Broker</h2>
  <div class="fragment-set">
    <div class="fragment fade-in">
      <div class="mu-sequence mu-small mu-left">
        The OCI Service Broker for Kubernetes needs OCI user credentials to provision and
          manage services and resources
          in the user tenancy.

          <blockquote class="mu-medium">
            ⚠️ <b>NOTE:</b> The account used must have sufficient policies in <b>IAM</b> to manage 
            resources provisioned with Service Broker
          </blockquote>

          <pre><code class="hljs sh">kubectl create secret generic oci-service-broker \
  --namespace mushop \
  --from-literal=tenancy=&lt;CUSTOMER_TENANCY_OCID&gt; \
  --from-literal=user=&lt;USER_OCID&gt; \
  --from-literal=fingerprint=&lt;USER_PUBLIC_API_KEY_FINGERPRINT&gt; \
  --from-literal=region=&lt;USER_OCI_REGION&gt; \
  --from-literal=passphrase=&lt;PASSPHRASE_STRING&gt; \
  --from-file=privatekey=&lt;PATH_OF_USER_PRIVATE_API_KEY&gt;</code></pre>
      </div>
    </div>
    <div class="fragment fade-in">
      <div class="mu-sequence mu-small">
        <div class="mu-margin">
          This command will deploy the OCI service broker on your cluster. Note that is using the
          secret: <b><code>oci-service-broker</code></b>.
        </div>
        <pre><code class="hljs text">helm install https://github.com/oracle/oci-service-broker/releases/download/v1.3.1/oci-service-broker-1.3.1.tgz \
  --namespace mushop \
  --name oci-service-broker \
  --set ociCredentials.secretName=oci-service-broker \
  --set storage.etcd.useEmbedded=true \
  --set tls.enabled=false</code></pre>
        <blockquote class="mu-small">
          Please note that the above command will deploy the OCI Service Broker using an embedded etcd instance.
          It is not recommended to deploy the OCI Service Broker using an embedded etcd instance and tls disabled in
          production environments,
          instead a separate etcd cluster should be setup and used by the OSB. <br /><br />
          The open source etcd operator project or a commercial offering may be used to setup a production quality etcd
          cluster. <br />The recommended setup can be found <a
            href="https://github.com/oracle/oci-service-broker/blob/master/charts/oci-service-broker/docs/installation.md#recommended-setup"
            target="_blank">here</a>
        </blockquote>
      </div>
    </div>
    <div class="fragment fade-in">
      <div class="mu-sequence mu-small">
        <div class="mu-margin">Register OCI Service Broker</div>
        Create the file <a href="/public/oci-service-broker.yaml"><b><code>oci-service-broker.yaml</code></b></a>
        with the following content:
        <pre><code class="hljs yaml">apiVersion: servicecatalog.k8s.io/v1beta1
kind: ClusterServiceBroker
metadata:
  name: oci-service-broker
spec:
  url: http://oci-service-broker.mushop:8080</code></pre>
          
        <pre><code class="hljs text">kubectl create -f oci-service-broker.yaml</code></pre>
      </div>
    </div>
    <div class="fragment fade-in">
      <div class="mu-sequence">
        <p class="mu-medium">Verify that the Service Broker is available and ready...</p>
        <pre><code class="hljs text">kubectl get clusterservicebrokers -o 'custom-columns=BROKER:.metadata.name,STATUS:.status.conditions[0].reason'</code></pre>
        <pre><code class="hljs text">BROKER              STATUS
oci-service-broker  FetchedCatalog
        </code></pre>
      </div>
    </div>
    <div class="fragment fade-in">
      <div class="mu-sequence">
        <p class="mu-medium">Using the svcat cli to see the status, service and plans available...</p>
        <pre><code class="hljs text">svcat get brokers</code></pre>
        <pre><code class="hljs text">svcat get classes</code></pre>
        <pre><code class="hljs text">svcat get plans</code></pre>
      </div>
    </div>
  </div>
</section>