<section id="orderintro">
  <h2>Orders and Carts</h2>
  <p class="mu-small mu-left">
    Orders and Carts are Java microservices built with
    <a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a>. Services use <strong>Oracle
      Autonomous
      Transaction Processing (ATP)</strong> as its data store.
  </p>
  <p class="mu-small mu-left">
    The services get exposed over HTTP, and when deployed to Kubernetes,
    can be scaled horizontally. Other services discover and interact
    with these services through Kubernetes Service abstraction.
  </p>
</section>