<section id="provisionatp">
  <h2>Step 1 - Provision ATP</h2>
  <p class="mu-small">
    Create your Oracle ATP Database instance, using the steps below.
    <a target="_blank"
      href="https://docs.oracle.com/en/cloud/paas/autonomous-data-warehouse-cloud/tutorial-getting-started-autonomous-db/">More
      details ...</a>
  </p>
  <video width="640" height="440" controls>
    <source
      data-src="https://objectstorage.us-phoenix-1.oraclecloud.com/p/2yE4roHC3N2-CdVgx0wSWzLafj0-2bpcE1E3ff41zBs/n/intvravipati/b/demo-assets/o/dem-ord-create_atp.mp4"
      type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  </video>
</section>