<section id="waf-access">
  <h2>DEMO: WAF Access Control</h2>
  <div class="mu-flex mu-small mu-margin">
    <div class="col-1-2">
      <span class="mu-icon mu-large block">🔐</span>
      <a target="_blank" href="https://mushop.ateam.cloud">https://mushop.ateam.cloud</a>
    </div>
    <div class="col-1-2">
      <span class="mu-icon mu-large block mu-muted">🔓</span>
      <a class="mu-danger" target="_blank" href="https://insecure.mushop.ateam.cloud">https://insecure.mushop.ateam.cloud</a>
    </div>
  </div>
  <img class="shadow no-margin fragment" data-src="/images/edge/waf.access.rules.png"/>
</section>