<section id="waf-demo">
    <h2>WAF Demo</h2>
    <div class="mu-flex mu-flex-middle">
      <div class="mu-svc">
        <span class="mu-svc-icon">👿</span>
      </div>
      <div class="mu-flex-connector arrow">attacker</div>
      <div class="mu-svc">
        <img data-src="/images/tech/dns.svg" /> DNS
      </div>
      <div class="mu-flex-connector arrow">CNAME</div>
      <div class="mu-svc">
        <img data-src="/images/tech/waf.svg" /> WAF
      </div>
      <div class="mu-flex-connector arrow">403</div>
      <div class="mu-svc">
        <span class="mu-svc-icon">🚫</span>
      </div>
    </div>

    <a href="https://mushop.ateam.cloud" target="_blank">
      <img data-src="/images/logo.png" />
    </a>
  </section>