<section id="aboutmicroservices">
  <h2>Microservices</h2>
  <div class="mu-flex mu-small switcher">
    <ul>
      <li class="fragment">Benefits</li>
      <li class="fragment">Characteristics</li>
      <li class="fragment">Runtime</li>
      <li class="fragment">Patterns</li>
      <li class="fragment">Operating</li>
    </ul>
    <ul class="col-1-1">
      <li>
        <div>
          <div class="mu-flex mu-flex-center"><img data-src="/images/tech/mu-service-benefits.png" /></div>
          <ul>
            <li class="card col-1-1">Modular service characteristics offer flexibility, scalability,
              and reduced development
              effort</li>
            <li class="card col-1-1">Enable distributed system design that can be realized as
              resilient, manageable and
              observable systems</li>
          </ul>
        </div>

      </li>
      <li>
        <div>
          <div class="mu-flex mu-flex-center"><img data-src="/images/tech/mu-service-comms_small.png" /></div>
          <ul>
            <li class="card col-1-1">Application components can be built in different programming
              languages</li>
            <li class="card col-1-1">Each service owns its domain logic and communicates with others
              through simple
              protocols</li>
          </ul>
        </div>
      </li>
      <li>
        <div>
          <div class="mu-flex mu-flex-center"><img data-src="/images/tech/mu-service-decompose.png" /></div>
          <ul>
            <li class="card col-1-1">Services that can scale from inactivity to high volume and back
              again</li>
            <li class="card col-1-1">Each service can be independently deployed, updated, replaced, and
              scaled</li>
          </ul>
        </div>
      </li>

      <li>
        <div class="">
          <div class="mu-flex mu-flex-center"><img data-src="/images/tech/mu-service-scale.png" /></div>
          <ul>
            <li class="card col-1-1">Event-driven architectures - Useful for scaling and designing with
              eventual consistency
              models</li>
            <li class="card col-1-1">Database Design - Logical Databases/ Shared databases/ CQRS / Saga
              Pattern.</li>
          </ul>
        </div>
      </li>

      <li>
        <div>
          <div class="mu-flex mu-flex-center"><img data-src="/images/tech/devops_small.png" /></div>
          <ul>
            <li class="card col-1-1">Cloud-based services allow businesses to pay only for the compute
              capacity they use
            </li>
            <li class="card col-1-1">Easier to implement automation at multiple levels in the
              application cycle and continuously deliver software to production</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <aside class="notes">
    <ul>
      <li>Benefits </li>
      <ul>
        <li>the traditional deployment scenario and why thats broken </li>
      <li>How micro services can address that </li>
      <li>Its more chaotic, so how does it work -> (lots) automation and (some) good planning.  </li>
      </ul>
    <li>Characteristics</li>
      <ul>
        <li>polygot </li>
      <li>simple protocols for interoperability</li>
      <li>do one thing but do it well. </li>
      </ul>
    <li> Runtime </li>
      <ul>
        <li>scalability</li>
      <li>independent lifecycle. </li>
      </ul>
    <li>Micro service patterns</li>
      <ul>
        <li>Distributed system design</li>
      </ul>
    <li>Operating</li>
      <ul>
        <li>cost of ownership</li>
        <li>ephemeral environments</li>
        <li>continuous automation and delivery</li>
      </ul>
    </ul>
  </aside>
</section>