<section id="aboutmushop">
  <h2>What is MuShop?</h2>
  <div class="mu-flex mu-small switcher">
    <ul>
      <li class="fragment">Cloud Native</li>
      <li class="fragment">Features</li>
      <li class="fragment">Basic Version</li>
      <li class="fragment">TL;DR</li>
    </ul>
    <ul class="col-1-1">
      <li>
        MuShop represents a showcase of many OCI Cloud Native services 
        as a unified reference application
        <hr/>
include "_whatismushop.html"
      </li>
      <li>
include "_muservices.html"
      </li>
      <li>
        Explore OCI with Resource Manager using the <em>Always Free</em> tier and a
        <b><em>simplified</em></b> deployment of the MuShop application
        <hr/>
include "_whatismushop_basic.html"
      </li>
      <li>
include "_teaser.html"
      </li>
    </ul>
</section>