<section id="cloudnative">
  <h2>What is Cloud Native?</h2>
  <blockquote class="mu-smaller mu-margin">
    Cloud native technologies are characterized by the use of containers,
    microservices, serverless functions, development pipelines,
    and infrastructure expressed as code. Cloud native enables faster software
    development and the ability to build applications that are resilient,
    manageable, observable, and dynamically scalable to global enterprise levels.
  </blockquote>
  <img data-src="/images/tech/intro/logos.png" class="mu-muted mu-margin">
  <div class="plain mu-flex mu-flex-stretch mu-gutter mu-small mu-margin">
    <span class="card">Platform</span>
    <span class="card">Provisioning</span>
    <span class="card">Orchestration</span>
    <span class="card">Definition</span>
    <span class="card">Observability</span>
  </div>
</section>