<section id="cloudnative">
  <h2>What is Cloud Native?</h2>
  <blockquote class="mu-smaller mu-margin">
    Cloud native technologies are characterized by the use of containers,
    microservices, serverless functions, development pipelines,
    and infrastructure expressed as code. Cloud native enables faster software
    development and the ability to build applications that are resilient,
    manageable, observable, and dynamically scalable to global enterprise levels.
  </blockquote>
  <img data-src="/images/tech/intro/logos.png" class="mu-muted mu-margin">
  <div class="plain mu-flex mu-flex-stretch mu-gutter mu-small mu-margin">
    <span class="card">Platform</span>
    <span class="card">Provisioning</span>
    <span class="card">Orchestration</span>
    <span class="card">Definition</span>
    <span class="card">Observability</span>
  </div>
  <aside class="notes">
    <h2>What is Cloud Native</h2>
    <ul>
      <li> anything that uses a cloud provider's api</li>
      <li> APIs on top of resources eliminates middle men and human delay. </li>
      <li> APIs can be invoked from an application - building applications that call these APIs to create resources -
        provision environments - are are the next logical step in infrastructure management.</li>
      <li> Now that infrastructure can be orchestrated using application code, coding and SDLC principles can be applied
        to infra management - Infrastructure as code. </li>
      <li> Moving up from infrastructure management to application development, we now can build applications that can
        leverage these mechanisms.</li>
      <li> an application that can create more compute capacity when it requires it. (although this is better handled
        outside an application in many ways.)</li>
    </ul>

  </aside>
</section>