<section id="agenda">
  <h2>Upcoming Labs</h2>
  <p class="mu-small">
    Current labs focus on technology, while the upcoming ones target practices. 
  </p>
  <table class="mu-table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Subject</th>
        <th>Concepts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>Lab: DR</a></td>
        <td>Using Regions, Replication and TF for DR</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Lab: CICD</td>
        <td>Building a CICD pipeline for micro-services</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Lab: Big Data & Data Science</td>
        <td>Using Big Data, Data Science, Data Catolog for sentiment analysis</td>
      </tr>
    </tbody>
  </table>
</section>