<section id="agenda">
  <h2>Outline</h2>
  <p class="mu-small">
    This workshop covers a variety of topics, each designed to highlight
    its own, or common high-level subjects within OCI in the context of
    the demo application - MuShop
  </p>
  <table class="mu-table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Subject</th>
        <th>Concepts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><a href="/workshop/prepare.html" target="_blank" class="mu-warning">Prepare</a></td>
        <td>Workshop Prerequisites</td>
        <td>-</td>
      </tr>
      <!-- first half -->
      <!-- <tr class="mu-muted">
        <td colspan="5" class="mu-center">Part 1</td>
      </tr> -->
      <tr>
        <td>1</td>
        <td><a href="/workshop/intro.html" target="_blank">Introduction</a></td>
        <td>Background, design, and demo</td>
        <td>OCI - CloudNative</td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href="/workshop/setup.html" target="_blank">Setup</a></td>
        <td>Begin development</td>
        <td>Docker - K8S - Helm</td>
      </tr>
      <tr>
        <td>3</td>
        <td><a href="/workshop/iac.html" target="_blank">Lab: Quickstart</a></td>
        <td>Always Free deployment</td>
        <td>Terraform - Resource Manager</td>
      </tr>
      <tr>
        <td>4</td>
        <td><a href="/workshop/kubernetes.html" target="_blank">Lab: Kubernetes</a></td>
        <td>Building blocks of kubernetes</td>
        <td>Kubernetes - Helm</td>
      </tr>
      <tr>
        <td>5</td>
        <td><a href="/workshop/edge.html" target="_blank">Lab: Edge</a></td>
        <td>MuShop Frontend &amp; Edge</td>
        <td>DNS - WAF - LB - Ingress</td>
      </tr>
      <tr>
        <td>6</td>
        <td><a href="/workshop/orders-carts.html" target="_blank">Lab: Orders &amp; Carts</a></td>
        <td>Orders and Carts μServices</td>
        <td>Java - ATP</td>
      </tr>
      <!-- second half -->
      <!-- <tr class="mu-muted">
        <td colspan="5" class="mu-center">Part 2</td>
      </tr> -->
      <tr>
        <td>7</td>
        <td><a href="/workshop/shipping.html" target="_blank">Lab: Shipping</a></td>
        <td>Shipping service design</td>
        <td>Java - OCI Streaming</td>
      </tr>
      <tr>
        <td>8</td>
        <td><a href="/workshop/catalogue.html" target="_blank">Lab: Catalogue</a></td>
        <td>MuShop Catalogue microservice</td>
        <td>OCI Service Broker - ATP</td>
        <td>1hr</td>
      </tr>
      <tr>
        <td>9</td>
        <td><a href="/workshop/observability.html" target="_blank">Lab: Metrics</a></td>
        <td>Metrics &amp; Observability</td>
        <td>Prometheus - Grafana - Autoscaling</td>
      </tr>
    </tbody>
  </table>
</section>