<section id="agenda">
  <h2>Upcoming Labs</h2>
  <p class="mu-small">
    The upcoming labs are more centered on practices and less on 
     architecture.
  </p>
  <table class="mu-table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Subject</th>
        <th>Concepts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>Lab: DR</a></td>
        <td>Disaster Recovery</td>
        <td>Regions, Replication, TF</td>
      </tr>
      <tr>
        <td></td>
        <td>Lab: CICD</td>
        <td>Building a CICD pipeline for micro-services</td>
        <td>Jenkins</td>
      </tr>
      <tr>
        <td></td>
        <td>Lab: Machine Learning</td>
        <td>Sentiment Analysis of User Reviews</td>
        <td>ODF, ODC, ODS</td>td>
      </tr>
    </tbody>
  </table>
</section>