Configure ATP connection details in the form of Kubernetes <code>secrets</code>
<hr>

<ol class="mu-medium">
  <li>
    Create <code class="fg-orange">oadb-admin</code> secret containing the database administrator password:
    <pre><code class="hljs sh">kubectl create secret generic oadb-admin \
  --from-literal=oadb_admin_pw='&lt;DB_ADMIN_PASSWORD&gt;'</code></pre>

    <blockquote class="mu-small">
      ℹ️ The admin credentials are used <b>once</b> to initialize schemas in the application
    </blockquote>
  </li>
  <li>
    Create <code class="fg-orange">oadb-wallet</code> secret with the Wallet contents using the downloaded <code>Wallet_*.zip</code>
    The extracted directory is specified as the secret file path:
    <pre><code class="hljs sh">kubectl create secret generic oadb-wallet \
  --from-file='&lt;PATH_TO_EXTRACTED_WALLET_FOLDER&gt;'</code></pre>
    <blockquote class="mu-small">
      ℹ️ Each file will become a key name in the secret data.
    </blockquote>
  </li>
  <li>
    Create <code class="fg-orange">oadb-connection</code> secret with the <b>Wallet password</b> and
    the service <b>TNS name</b> to use for connections:
    <pre><code class="hljs sh">kubectl create secret generic oadb-connection \
  --from-literal=oadb_wallet_pw='&lt;DB_WALLET_PASSWORD&gt;' \
  --from-literal=oadb_service='&lt;DB_TNS_NAME&gt;'</code></pre>
    <blockquote class="mu-small no-margin">
      ℹ️ <b>NOTE:</b> Here each service will connect using the same conneciton for simplicity.
      It is <b class="underline">expected</b> for each service to support an independent
      instance and schema.
    </blockquote>
  </li>
</ol>