Many of these tenancy configurations will be used at different times
within the material that follows. Please create a file with the following
information to simplify lookups later.
<div class="mu-margin mu-margin-top">
  <pre><code class="hljs yaml">region:       # Region where resources will be provisioned. (ex: us-phoenix-1)
tenancy:      # Tenancy OCID value
user:         # API User OCID value
compartment:  # Compartment OCID value
key:          # Private API Key file path (ex: /Users/jdoe/.oci/oci_key.pem)
fingerprint:  # Public API Key fingerprint (ex: 43:65:2c...)</code></pre>
</div>
<blockquote class="mu-small">
  ℹ️ It is also recommeded to configure the OCI Command Line with using these values. Refer
  the <a href="https://docs.cloud.oracle.com/iaas/Content/API/SDKDocs/cliconfigure.htm" target="_blank">Documentation</a>
  on CLI configuration .
</blockquote>