<section id="cloudnative-oci"
data-background-image="/images/tech/oci.png"
data-background-size="auto 100px"
data-background-position="20px 20px">
  <h2>Oracle Cloud Native</h2>
  <div class="mu-small fragment-set">
    <!-- no blurbs -->
    <div class="fragment no-blurb">
      include "_ociDevServices.html"
      include "_ociObsServices.html"
    </div>

    <!-- 1st row -->
    <div class="fragment mu-hooks-dim">
      include "_ociDevServices.html"
    </div>

    <!-- 2nd row -->
    <div class="fragment mu-blurb-invert mu-hooks-dim">
      <div class="hidden">
        include "_ociDevServices.html"
      </div>
      include "_ociObsServices.html"
    </div>
    
  </div>
<aside class="notes">
 List the OCI services and explain them.
</aside>
</section>