<section id="usingmushop">
  <h2>Where can I get this ?</h2>

  <div class="mu-small mu-margin-top">
    <div class="mu-flex mu-wrap mu-flex-stretch mu-gutter mu-margin">
      <!-- live demo -->
      <a class="card col-1-2 fragment fade-up" href="https://mushop.ateam.cloud" target="_blank">
        <div class="mu-margin-top">
          <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
            <div class="col-1-2 mu-normal mu-left">Live Application</div>
            <div class="col-1-2 mu-svc"><img class="no-margin" data-src="/images/logo.png" /></div>
          </div>
        </div>
        <div class="mu-small mu-left">
          <div class="mu-normal">Reference deployment</div>
          https://mushop.ateam.cloud
        </div>
      </a>
      <!-- slides -->
      <a class="card col-1-2 fragment fade-up" href="https://slides.mushop.ateam.cloud" target="_blank">
        <div class="mu-margin-top">
          <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
            <div class="col-1-2 mu-normal mu-left">Workshop &amp; Labs</div>
            <div class="col-1-2 mu-svc"><img class="no-margin" data-src="/images/logo.png" /></div>
          </div>
        </div>
        <div class="mu-small mu-left">
          <div class="mu-normal">Interactive material and exercises</div>
          https://slides.mushop.ateam.cloud
        </div>
      </a>
      <!-- source -->
      <a class="card col-1-2 fragment fade-up" href="https://github.com/oracle-quickstart/oci-cloudnative" target="_blank">
        <div class="mu-margin-top">
          <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
            <div class="col-1-2 mu-normal mu-left">Source Code</div>
            <div class="col-1-2 mu-svc"><img class="no-margin" data-src="/images/tech/github.svg" /></div>
          </div>
        </div>
        <div class="mu-small mu-left">
          <div class="mu-normal">MuShop open source code</div>
          https://github.com/oracle-quickstart/oci-cloudnative
        </div>
      </a>
      <!-- docs -->
      <a class="card col-1-2 fragment fade-up" href="https://oracle-quickstart.github.io/oci-cloudnative" target="_blank">
        <div class="mu-margin-top">
          <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
            <div class="col-1-2 mu-normal mu-left">Documentation</div>
            <div class="col-1-2 mu-svc"><img class="no-margin" data-src="/images/tech/github.svg" /></div>
          </div>
        </div>
        <div class="mu-small mu-left">
          <div class="mu-normal">Source code documentation</div>
          https://oracle-quickstart.github.io/oci-cloudnative
        </div>
      </a>
      <!-- slack -->

      <div class="mu-flex mu-flex-center col-1-1">
        <a class="card col-1-2 fragment fade-up" href="https://dyn.slack.com/app_redirect?channel=oci_mushop_dev" target="_blank">
          <div class="mu-margin-top">
            <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
              <div class="col-1-2 mu-normal mu-left">Join us on Slack!</div>
              <div class="col-1-2 mu-svc"><img data-src="/images/help/slack.png" alt="Slack"/></div>
            </div>
          </div>
          <div class="mu-small mu-left">
            #oci_mushop_dev
          </div>
        </a>
      </div>

    </div>
  
  </div>
​
</section>