<section id="usingmushop">
  <h2>Where can I get this ?</h2>

  <div class="mu-small mu-margin-top">
    <div class="mu-flex mu-wrap mu-flex-stretch mu-gutter mu-margin">
      <!-- live demo -->
      <a class="card col-1-2 fragment fade-up" href="https://mushop.ateam.cloud" target="_blank">
        <div class="mu-margin-top">
          <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
            <div class="col-1-2 mu-normal mu-left">Live Application</div>
            <div class="col-1-2 mu-svc"><img class="no-margin" data-src="/images/logo.png" /></div>
          </div>
        </div>
        <div class="mu-small mu-left">
          <div class="mu-normal"><!--blurb--></div>
          https://mushop.ateam.cloud
        </div>
      </a>
      <!-- slides -->
      <a class="card col-1-2 fragment fade-up" href="https://slides.mushop.ateam.cloud" target="_blank">
        <div class="mu-margin-top">
          <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
            <div class="col-1-2 mu-normal mu-left">Workshop &amp; Labs</div>
            <div class="col-1-2 mu-svc"><img class="no-margin" data-src="/images/logo.png" /></div>
          </div>
        </div>
        <div class="mu-small mu-left">
          <div class="mu-normal"><!--blurb--></div>
          https://slides.mushop.ateam.cloud
        </div>
      </a>
      <!-- source -->
      <a class="card col-1-2 fragment fade-up" href="https://orahub.oraclecorp.com/ateam/mushop-oci-demo" target="_blank">
        <div class="mu-margin-top">
          <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
            <div class="col-1-2 mu-normal mu-left">Source Code</div>
            <div class="col-1-2 mu-svc"><img class="no-margin" data-src="/images/tech/gitlab.svg" /></div>
          </div>
        </div>
        <div class="mu-small mu-left">
          <div class="mu-normal">Available internally, open source publishing in progress</div>
          https://orahub.oraclecorp.com/ateam/mushop-oci-demo
        </div>
      </a>
      <!-- basic -->
      <a class="card col-1-2 fragment fade-up" href="https://github.com/oracle/oci-quickstart-cloudnative" target="_blank">
        <div class="mu-margin-top">
          <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
            <div class="col-1-2 mu-normal mu-left">Free Tier Demo</div>
            <div class="col-1-2 mu-svc"><img class="no-margin" data-src="/images/tech/github.svg" /></div>
          </div>
        </div>
        <div class="mu-small mu-left">
          <div class="mu-normal">MuShop open source code</div>
          https://github.com/oracle/oci-quickstart-cloudnative
        </div>
      </a>

    </div>
  
  </div>
​
</section>