<section id="cloudnative-oci"
data-background-image="/images/tech/oci.png"
data-background-size="auto 100px"
data-background-position="20px 20px">
  <h2>The modern stack</h2>
  <div class="mu-small fragment-set">
    <!-- 1st row -->
    <div class="fragment mu-hooks-dim">
      <div class="card col-5-5">
        <img data-src="/images/tech/waterfall.png" />
        <span>Waterfall</span>
        <span class="mu-blurb">Datacenters with physical servers, running monolithic applications, developed using traditional waterfall methodologies 
        </span>
      </div>
    </div>

    <!-- 2nd row -->
    <div class="fragment mu-hooks-dim">
      <div class="card col-5-5">
        <img data-src="/images/tech/agile.png" />
        <span>Agile</span>
        <span class="mu-blurb">Datacenters and hosting providers running Unix/Linux servers, emergence of virtualization (VMware, KVM), running n-tier applications, developed using agile methodologies</span>
      </div>
    </div>

     <!-- 3rd row -->
     <div class="fragment mu-hooks-dim">
      <div class="card col-5-5">
        <img data-src="/images/tech/cloudnative.png" />
        <span>Agile</span>
        <span class="mu-blurb">decomposition of applications into microservices, running on container infrastructure, developers and operations collaborating using DevOps methodologies</span>
      </div>
    </div>
    
  </div>

</section>