<section id="deployment-evo" data-background-image="/images/tech/oci.png" data-background-size="auto 100px"
    data-background-position="20px 20px">
    <h2>The modern stack</h2>
    <div class="mu-small fragment-set">
        <div class="fragment mu-hooks-dim">
            <div class="card col-5-5">
                <img data-src="/images/tech/agile.png" />
                <img data-src="/images/tech/cloudnative.png" />
                <ul>
                    <li>Ephemeral resources managed via automation and cloud APIs </li>
                    <li>Decomposition of applications into microservices, running on container infrastructure</li>
                    <li>Developers and operations collaborating using DevOps methodologies</li>
                </ul>
                </span>
            </div>
        </div>
    </div>
</section>