<div class="mu-flex mu-flex-middle mu-medium fragment">
  <div><b><em class="fragment">Micro</em></b>Services</div>
  <div class="mu-flex-connector arrow fragment fade-in"></div>
  <div class="fragment fade-in">μ</div>
  <div class="mu-flex-connector arrow fragment fade-in"></div>
  <div class="fragment fade-in">Mu</div>
  <div class="mu-flex-connector arrow fragment fade-in"></div>
  <div class="fragment fade-in">Meow</div>
  <div class="mu-flex-connector arrow fragment fade-in"></div>
  <div class="fragment fade-in"><img data-src="/images/logo.png" height="40"/></div>
</div>