If not done already, <a href="/public/myvalues.yaml">download</a> or copy an example values file into your workspace:
<div class="mu-flex mu-gutter mu-flex-top">
  <div class="col-1-2">
    <span class="mu-muted">(from download)</span>
    <pre><code class="hljs text">mv ~/Downloads/myvalues.yaml ./myvalues.yaml</code></pre>
  </div>
  <div class="no-wrap"><span class="mu-muted">- OR -</span></div>
  <div class="col-1-2">
    <span class="mu-muted">(copy from sample)</span>
    <pre><code class="hljs text">cp mushop/values-dev.yaml ./myvalues.yaml</code></pre>
  </div>
</div>