<section id="oci-monitoring">
  <h2>OCI Monitoring</h2>
  
  <div class="mu-flex mu-flex-stretch mu-small">
    <!-- oci -->
    <div class="card col-1-3">
      <div class="mu-flex mu-flex-center mu-flex-middle">
        <img class="col-2-3 no-margin" data-src="/images/tech/oci.png"/>
        <div class="mu-svc">
          <img alt="monitoring" data-src="/images/oci/telemetry.svg"/>
          Monitoring
        </div>
      </div>

      <div class="mu-smaller">
        <blockquote>
          Reports metrics from <b>all resources</b> and services in Oracle Cloud Infrastructure.
        </blockquote>
        <ul>
          <li>Service Metrics</li>
          <li>Alarms</li>
          <li>Health Checks</li>
          <li>Integrated Dashboards</li>
          <li><b>API Accessbile</b></li>
        </ul>
      </div>
    </div>
    <div class="mu-flex-connector mu-valign arrow">DATA</div>
    <!-- grafana -->
    <div class="card col-1-2">
      <div >
        <div class="mu-svc mu-margin">
          <img alt="grafana" data-src="/images/tech/grafana.png"/>
          Grafana
        </div>
        <div class="mu-small">
          <blockquote>
            Widely adopted open source tool for monitoring, metric analytics, dashboards
            sourced by its integrated <b class="underline">extensive</b> Data Sources and plugins
          </blockquote>
          <ul>
            <li><a href="https://grafana.com/grafana/plugins/oci-datasource">OCI Datasource (plugin)</a></li>
            <li><a href="https://grafana.com/docs/features/datasources/prometheus">Prometheus (built-in)</a></li>
          </ul>
          <hr>
          <ul>
            <li>📈 Dashboards</li>
            <li>⚠️ Alarms</li>
            <li>🔔 Notifications (Slack, PagerDuty, etc...)</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mu-flex-connector mu-valign arrow-left">DATA</div>
    <!-- k8s prom -->
    <div class="card col-1-3">
      <div class="mu-flex mu-flex-center mu-flex-middle">
        <div class="mu-svc">
          <img alt="k8s" data-src="/images/tech/k8s.icon.png"/>
          Kubernetes
        </div>
        <span>+</span>
        <div class="mu-svc">
          <img alt="monitoring" data-src="/images/tech/prometheus.png"/>
          Prometheus
        </div>
      </div>

      <div class="mu-smaller">
        <blockquote>
          Container metrics and alerting toolkit fitting <b>dynamic microservice</b> architectures
        </blockquote>
      </div>
    </div>
  </div>
</section>