<div class="mu-margin">
  <span class="mu-hook">Observability + Messaging</span>
  <div class="mu-flex mu-flex-stretch mu-gutter mu-margin mu-margin-top mu-medium">
    <div class="card col-1-5">
      <div class="mu-svc mu-margin"><img data-src="/images/oci/telemetry.svg" /></div>
      <span>Monitoring</span>
      <span class="mu-blurb">Integrated metrics from all resources and services</span>
    </div>
    <div class="card col-1-5">
      <div class="mu-svc mu-margin"><img data-src="/images/oci/logging.svg" /></div>
      <span>Logging</span>
      <span class="mu-blurb">Highly scalable single pane of glass for resources and applications</span>
    </div>
    <div class="card col-1-5">
      <div class="mu-svc mu-margin"><img data-src="/images/oci/notifications.svg" /></div>
      <span>Notifications</span>
      <span class="mu-blurb">Broadcast messages to distributed systems, like email &amp; PagerDuty</span>
    </div>
    <div class="card col-1-5">
      <div class="mu-svc mu-margin"><img data-src="/images/oci/streaming.svg" /></div>
      <span>Streaming</span>
      <span class="mu-blurb">Large scale data collection and processing</span>
    </div>
    <div class="card col-1-5">
      <div class="mu-svc mu-margin"><img data-src="/images/oci/events.svg" /></div>
      <span>Events</span>
      <span class="mu-blurb">Handle infrastructure changes with functions, notifications and streaming</span>
    </div>
  </div>
</div>