<section id="services"
  data-background-image="/images/tech/oci.png"
  data-background-size="auto 100px"
  data-background-position="20px 20px">

  <h2>OCI Services</h2>
  <div class="mu-flex mu-gutter">
    <div class="col-1-2">
      <h4>Complete</h4>
      <table class="mu-table">
        <thead>
          <tr>
            <th>Service</th>
            <th>Topic</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ATP</td>
            <td>Database</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>OKE</td>
            <td>Developer</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>OCIR</td>
            <td>Developer</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>OCI Service Broker</td>
            <td>Developer</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>DNS Zone</td>
            <td>Core Networking</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>Object Storage</td>
            <td>Core</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>Streaming</td>
            <td>Analytics</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>Load Balancer</td>
            <td>Networking</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>WAF Policies</td>
            <td>Security</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>Health Checks</td>
            <td>Monitoring</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>Always Free Tier support</td>
            <td>Developer</td>
            <td class="mu-center">✅</td>
          </tr>
          <tr>
            <td>Terraform</td>
            <td>Developer</td>
            <td class="mu-center">✅</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-1-2">
      <h4>Planned</h4>
      <table class="mu-table">
        <thead>
          <tr>
            <th>Service</th>
            <th>Topic</th>
            <th>Solution</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Events</td>
            <td>Application Integration</td>
            <td class="mu-muted">ML image gallery</td>
          </tr>
          <tr>
            <td>Functions</td>
            <td>Developer</td>
            <td class="mu-muted">Payments</td>
          </tr>
          <tr>
            <td>Email Delivery</td>
            <td>Platform</td>
            <td class="mu-muted">Newsletter</td>
          </tr>
          <tr>
            <td>API Gateway</td>
            <td>Platform</td>
            <td class="mu-muted">Storefront REST</td>
          </tr>
          <tr>
            <td>Service Metrics</td>
            <td>Monitoring</td>
            <td class="mu-muted">Load scenario</td>
          </tr>
          <tr>
            <td>Alarms</td>
            <td>Monitoring</td>
            <td class="mu-muted">Load scenario</td>
          </tr>
          <tr>
            <td>IDCS</td>
            <td>Security</td>
            <td class="mu-muted">OAuth2 / client</td>
          </tr>
          <tr>
            <td>Key Management</td>
            <td>Security</td>
            <td class="mu-muted">Secrets</td>
          </tr>
          <tr>
            <td>SDKs</td>
            <td>Developer</td>
            <td class="mu-muted">Administrative panel</td>
          </tr>
          <tr>
            <td>GraalVM</td>
            <td>Developer</td>
            <td class="mu-muted">Java & NodeJS apps</td>
          </tr>
          <tr>
            <td>Helidon</td>
            <td>Developer</td>
            <td class="mu-muted">Java apps</td>
          </tr>
          <tr>
            <td>MuShop helm chart</td>
            <td>Developer</td>
            <td class="mu-muted">Deployment</td>
          </tr>
          <tr>
            <td>Cloud Shell</td>
            <td>Developer</td>
            <td class="mu-muted">Deployment</td>
          </tr>
          </thead>
      </table>
    </div>
  </div>
</section>