<div class="mu-margin">
  <span class="mu-hook">Application Development + Operations</span>
  <div class="mu-flex mu-flex-stretch mu-gutter mu-margin mu-margin-top mu-medium">
    <div class="card col-1-5">
      <div class="mu-svc mu-margin"><img data-src="/images/oci/container.svg" /></div>
      <span>Container Engine for Kubernetes (OKE)</span>
      <span class="mu-blurb">Enterprise-grade managed service to deploy containers</span>
    </div>
    <div class="card col-1-5">
      <div class="mu-svc mu-margin"><img data-src="/images/oci/container.svg" /></div>
      <span>Cloud Infrastructure Registry (OCIR)</span>
      <span class="mu-blurb">Highly available service to distribute container images</span>
    </div>
    <div class="card col-1-5">
      <div class="mu-svc mu-margin"><img data-src="/images/oci/resourcemanager.svg" /></div>
      <span>Resource Manager</span>
      <span class="mu-blurb">Infrastructure as code for automated deployment</span>
    </div>
    <div class="card col-1-5">
      <div class="mu-svc mu-margin"><img data-src="/images/oci/functions.svg" /></div>
      <span>Functions</span>
      <span class="mu-blurb">Scalable, multitenant serverless functions</span>
    </div>
    <div class="card col-1-5">
      <div class="mu-svc mu-margin"><img data-src="/images/oci/apigw.svg" /></div>
      <span>API Gateway</span>
      <span class="mu-blurb">Fully managed gateway for governed HTTP/S interfaces</span>
    </div>
  </div>
</div>