
<section id="intro">
  <h2>Workshop Goals</h2>
  <div class="testimonials">
    <ul class="mu-flex mu-gutter mu-small mu-wrap">
      <li class="card col-1-1 fragment fade-up">Explore Cloud Native services offered by OCI</li>
      <li class="card col-1-1 fragment fade-up">Build and deploy polyglot microservices with OKE</li>
      <li class="card col-1-1 fragment fade-up">Experience OCI services from within a single project</li>
      <li class="card col-1-1 fragment fade-up">Provide reference implementations and sample code for real-world development</li>
    </ul>
  </div>
</section>