
<section id="intro">
  <h2>Workshop Overview</h2>
  <div class="testimonials">
    <ul class="mu-flex mu-gutter mu-small mu-wrap">
      <li class="card col-1-1 fragment fade-up">Learn to utilize Cloud Native OCI services</li>
      <li class="card col-1-1 fragment fade-up">Build and deploy microservices with OKE</li>
      <li class="card col-1-1 fragment fade-up">Demo a complete polyglot application on OCI</li>
      <li class="card col-1-1 fragment fade-up">Exhibit benefits of Cloud Native services</li>
    </ul>
  </div>
</section>