<section id="orm"
  data-background-image="/images/oci/resourcemanager.svg"
  data-background-size="100px"
  data-background-position="20px 20px">
  <h2>OCI Resource Manager</h2>
  <p class="mu-small">
    Resource Manager is a managed service that can provision all Oracle Cloud Infrastructure
    resources and services. Resource Manager reduces configuration errors and increases
    productivity by managing IaC using industry standard Hashicorp Terraform
  </p>
  <hr/>
  <div class="mu-flex mu-flex-middle">
    <div class="mu-svc">
      <img data-src="/images/tech/orm.svg" /> ORM
    </div>
    <div class="mu-flex-connector arrow">job</div>
    <div class="mu-svc">
      <img data-src="/images/tech/terraform.svg" /> Terraform
    </div>
    <div class="mu-flex-connector arrow">infrastructure</div>
    <div class="mu-svc">
      <img data-src="/images/tech/oci.png" />
    </div>
    <div class="mu-flex-connector arrow">state</div>
    <div class="mu-svc">
      <img data-src="/images/tech/bucket.svg" /> Object Storage
    </div>
  </div>
</section>