<section id="k8s-ingress">
  <h2>Kubernetes secrets</h2>
  <div class="fragment-set mu-medium">
    <div class="fragment fade-out">
      <p>A Secret is an object that contains a small amount of sensitive data such as a password, a token, or a key.</p>
    </div>
    <div class="fragment">
      <div class="mu-sequence mu-margin">
        <div class="mu-small mu-margin">
          Create a secret with some keys.
        </div>
        <pre><code class="mu-small hljs sh">
kubectl create secret generic mysecret --from-literal=username=administrator --from-literal=password=topsecret
    </code></pre>
    <blockquote class="mu-small mu-margin">
        This example creates a secret using the <code class="fg-orange">create</code> command and specifies literal
        values.
    </blockquote>
    <div class="mu-small mu-margin">
      Use the command below to list your secrets. How would you get more details for a specific secret ?
    </div>
        <pre><code class="mu-small hljs sh">
kubectl get secrets
    </code></pre>
    
    <div class="mu-small mu-margin">
        You can also create secrets from files, or entire directories. Since a kubernetes secret is a kubernetes object,
        it can be represented in a manifest and applied like other objects. Use the command below to explore the syntax more.
        </div>
        <pre><code class="mu-small hljs sh">
kubectl create secret generic --help
    </code></pre>
      </div>
    </div>



    <div class="fragment">
      <div class="mu-sequence mu-margin">
        <div class="mu-small mu-margin">
          To use a secret, a Pod needs to reference the secret. Lets create a pod manifest that does this.
        </div>
        <div class="mu-flex mu-gutter">
          <div class="card col-1-2">
            <pre><code class="mu-small hljs sh">
cat << EOF >pod.yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:
  containers:
  - name: mypod
    image: nginx
    ports:
    - containerPort: 80
    env:
      - name: SECRET_USERNAME
        valueFrom:
          secretKeyRef:
            name: mysecret
            key: username
    volumeMounts:
    - name: foo
      mountPath: "/etc/foo"
      readOnly: true
  volumes:
  - name: foo
    secret:
      secretName: mysecret
      items:
      - key: username
      - key: password
        path: my-password/secret-password
EOF
                  </code></pre>
          </div>
          <div class="card col-1-2">
            <div class="mu-small">
              <ul>
                <li>The secret is referenced as an environment variable <code class="fg-orange">SECRET_USERNAME</code>.</li>
                <li>The secret contains two keys, but only one is exposed though the environment.</li>
                <li>The secret is also mounted as a volume.</li>
                <li>The secrets are available as files in the mounted volume.</li>
                <li>Individual keys from the secret can be exposed, their paths re-mapped (under the mountPath) and specific file
                  permission can be set.</li>
              </ul>              
            </div>
          </div>
        </div>
        
        
        
      </div>
    </div>


    <div class="fragment">
      <div class="mu-sequence mu-small">
        <div class=" mu-margin">
        To see the secrets are made available to a pod, deploy the pod.
      </div>
        <pre><code class="hljs sh">
kubectl apply -f pod.yaml
        </code></pre>
        <div class=" mu-margin">
          Now we can exec in to the container by starting a shell. 
        </div>
        <pre><code class="hljs sh">
kubectl exec -t -i mypod bash
        </code></pre>
        <div class=" mu-margin">
          Inside the container, we can examine the secrets that were provided as environment variables as well as volumes.
        </div>
        <pre><code class="hljs sh">
echo $SECRET_USERNAME
        </code></pre>
        <pre><code class="hljs sh">
cat /etc/foo/username
        </code></pre>
        <div class=" mu-margin">
          Where is the password available ?
        </div>
      </div>
    </div>
  </div>
</section>