<h2>MuShop Source Code</h2>
  
<div class="mu-flex mu-small switcher">
  <ul>
    <li class="fragment">Clone Repository</li>
    <li class="fragment">Project Structure</li>
  </ul>
  <ul class="col-1-1">
    <!-- cloning -->
    <li>
      <div class="mu-flex mu-gutter mu-medium">
        <div class="card col-1-2">
          Use this command to clone the repo into a folder named <code class="fg-red">mushop</code>:
          <div class="mu-margin-top">
            <pre><code class="hljs text">git clone \
  https://github.com/oracle-quickstart/oci-cloudnative.git \
  mushop</code></pre>
            Change working directory:
            <pre><code class="hljs text">cd mushop</code></pre>
          </div>
        </div>
        <a class="card col-1-2" href="https://github.com/oracle-quickstart/oci-cloudnative" target="_blank">
          <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
            <div class="col-1-2 mu-normal mu-left">Source Code</div>
            <div class="col-1-2 mu-svc"><img class="no-margin" data-src="/images/tech/github.svg" /></div>
          </div>
          <div class="mu-small mu-left">
            https://github.com/oracle-quickstart/oci-cloudnative
          </div>
        </a>
      </div>
    </li>
    <!-- structure -->
    <li>
      The source code will look something like the following:
      <div class="mu-small mu-margin-top">
include "_mushopTree.html"
      </div>
      <ul>
        <li><code class="fg-orange">./deploy</code>: Collection of application deployment resources</li>
        <li><code class="fg-orange">./src</code>: MuShop individual service code, Dockerfile, etc.</li>
      </ul>
    </li>
  </ul>
</div>