<div class="position-relative">
  <div class="mu-flex mu-flex-center mu-flex-middle mu-margin">
    <img height="100" class="plain no-margin" data-src="/images/tech/oci.png" alt="Oracle Cloud Infrastructure" />
    <span>+</span>
    <img height="80" class="plain no-margin" data-src="/images/logo.png" alt="MuShop" />
  </div>
  <a class="title-print hover-show mu-small" target="_blank" href="?print-pdf" title="Printable Version">🖨️</a>
</div>
<hr/>
<small>Created with ❤ by <a href="#contributors">Oracle A-Team</a></small>