<ul class="plain mu-flex mu-wrap mu-flex-stretch mu-gutter mu-margin mu-small">
  <li class="card col-1-3">
    An e-commerce reference app realized as a set of microservices developed on OCI
    <div><img data-src="/images/tech/oci.png" /></div>
  </li>
  <li class="card col-1-3">
    Real use case scenarios for OKE, ATP, Streaming, Networking, and more
    <div class="mu-margin-top">
      <div class="mu-flex mu-flex-middle mu-gutter mu-wrap">
        <div class="col-1-4"><img class="no-margin" data-src="/images/tech/k8s.icon.png" /></div>
        <div class="col-1-4"><img class="no-margin" data-src="/images/tech/atp.png" /></div>
        <div class="col-1-4"><img class="no-margin" data-src="/images/tech/streaming.svg" /></div>
        <div class="col-1-4"><img class="no-margin" data-src="/images/tech/vcn.svg" /></div>
        <div class="col-1-4"><img class="no-margin" data-src="/images/tech/bucket.svg" /></div>
        <div class="col-1-4"><img class="no-margin" data-src="/images/tech/waf.svg" /></div>
        <div class="col-1-4"><img class="no-margin" data-src="/images/tech/lb.svg" /></div>
        <div class="col-1-4"><img class="no-margin" data-src="/images/tech/dns.svg" /></div>
      </div>
    </div>
  </li>
  <li class="card col-1-3">
    Collection of self-paced, workshop-style exercises showcasing OCI features
    <div class="mu-margin-top">
      <pre><code class="hljs text">helm install \
  --name nginx-ingress \
  --namespace nginx-ingress \
  stable/nginx-ingress</code></pre>
      <pre><code class="hljs text">oci lb load-balancer list | jq '.data[]'</code></pre>
      <pre><code class="hljs text">kubectl create -f mushop.yaml</code></pre>
    </div>
  </li>
  <!-- <li class="card col-1-2">Developer focused, interactive, hands-on demonstrations</li> -->
</ul>